@include keyframes(openDown){
	0%{ height:0; display:block; }
	100%{ height:50px; }
}

@include keyframes(closeUp){
	0%{ height:50px; }
	100%{ height:0; display:none; }
}



@include keyframes(uncoverTop) {
	0%{@include transform( translate3d(0,0,0)) }
	70%{@include transform( translate3d(0,$vertical-drawer-height*1.1,0) ) }
	100%{@include transform( translate3d(0,$vertical-drawer-height,0)) }
}

@include keyframes(undoUncoverTop) {
	0%{@include transform( translate3d(0,$vertical-drawer-height,0)) }
	70%{@include transform( translate3d(0,-$vertical-drawer-height*.1,0) ) }
	100%{@include transform( translate3d(0,0,0)) }
}

@include keyframes(uncoverBottom) {
	0%{@include transform( translate3d(0,0,0)) }
	// 70%{@include transform( translate3d(0,-$vertical-drawer-height*1.1,0) ) }
	100%{@include transform( translate3d(0,-100%,0)) }
}

@include keyframes(undoUncoverBottom) {
	0%{@include transform( translate3d(0,-100%,0)) }
	// 70%{@include transform( translate3d(0,$vertical-drawer-height*.1,0) ) }
	100%{@include transform( translate3d(0,0,0)) }

}








