@import "compass/css3";
@import "variables";
@import "mixins";


@import "drawers/uncoverleft";
@import "drawers/uncoverright";
@import "drawers/uncovertop";
@import "drawers/uncoverbottom";
@import "drawers/coverleft";
@import "drawers/coverright";
@import "drawers/covertop";
@import "drawers/coverbottom";
@import "drawers/pushtop";
@import "drawers/pushbottom";
@import "drawers/pushleft";
@import "drawers/pushright";

@import "drawers/fallbacktop";
@import "drawers/fallbackbottom";
@import "drawers/fallbackleft";
@import "drawers/fallbackright";



form.search, nav.nav{
	background: #2c2c2c;
	color:#afafaf;
	a{
		color:#afafaf;
		text-decoration: none;
	}
	padding:1em;
}

form.search input{
	&[type=text]{
		width:85%;
	}
	&[type=submit]{
		width:15%;
	}
}



* header .icons .hammerdrawer-toggler{
	display:block;
	&.drawercloser{
		display:none;
	}
}

*.hammerdrawer-open header .icons .hammerdrawer-toggler{
	display:none;
	&.drawercloser{
		display:block;
	}
}


