@import "compass/css3";
@import "variables";
@import "mixins";

.hammernav-parent {
	overflow: hidden;

	/*  No Flickering  */
	@include backface-visibility(hidden);

	* {
		@include box-sizing(border-box);
	}


}

/* MENU ICON */
.hammernav-toggler {
	display: block;

}


/*  Nav Drawer Layout  */
.hammernav-nav {
	background-color: $drawermenu-color-bg;
	color:$drawermenu-color-fg;
	display:none;
	height: 100%;
	left: 0;
	margin: 0;
	opacity: 0.3;
	overflow-x:hidden;
	overflow-y:auto;
	position: fixed;
	top: 0;
	width: $horizontal-drawer-width;

	@include transform( translate3d(5%,0,0) scale(.97) );

	&.hammernav-right{
		left:auto;
		right:0;
		@include transform(translate3d(0,0,0) scale(.97) );

	}

	&.hammernav-top, &.hammernav-bottom{
		width:$vertical-drawer-width;
	}

	&.hammernav-open {
		color:$drawermenu-color-fg-highlight;
		display:block;
		opacity: 1;

		@include transform( translate3d(0,0,0)scale(1) );
		@include animation( popUpLeft .35s ease-in-out );

	}

	&.hammernav-right-open {
		@include transform( translate3d(0,0,0)scale(1) );
		@include animation( popUpRight .35s ease-in-out );
	}

	&.hammernav-close {
		display:none;
		opacity: .3;
	}


	&.hammernav-left-close{
		@include transform( translate3d(5%,0,0)scale(.97) );
		@include animation( pushDownLeft .3s ease-in-out );
	}

	&.hammernav-right-close{
		@include transform(translate3d(0,0,0)scale(.97) );
		@include animation( pushDownRight .35s ease-in-out );
	}



	li{

		display: block;
		float: none;
		overflow:hidden;

		a {
			color:$drawermenu-color-fg;
			display:block;
			padding:$drawermenu-link-padding;
			text-decoration:none;

			.hammernav-toggler {
				display: block;
				float:right;
				top:0;

				&.hammernav-open{
					color:$drawermenu-submenu-color-fg-highlight;

				}
			}

			&.active, &:active{
				color: $drawermenu-color-fg-highlight;
				background-color: $drawermenu-color-bg-highlight;
			}
		}

		// sub menus
		ul{
			background-color:$drawermenu-submenu-color-bg;
			color:$drawermenu-submenu-color-fg;
			display:block;
			height:0;
			position:static;
			@include animation( closeUp .25s ease-in-out );

			>li > a {
				color:$drawermenu-submenu-color-fg;

			}

		}

		&:hover{
			background-color:$drawermenu-submenu-color-bg-highlight;
			color:$drawermenu-submenu-color-fg-highlight;
			> a{
				color:$drawermenu-submenu-color-fg-highlight;
			}

		}

		&.hammernav-open, &:active{
			background-color:$drawermenu-submenu-color-bg-highlight;
			border-bottom:$drawermenu-submenu-color-bg-highlight;
			color:$drawermenu-submenu-color-fg-highlight;

			> a {
				color:$drawermenu-submenu-color-fg-highlight;
			}

			// activated submenus
			> ul{
				display:block;
				height:auto;
				@include animation( openDown .25s ease-in-out );
			}
		}
	}


	> ul {
		height: 100%;
		overflow-y: scroll;
	}



}


/* Nav Siblings to push out of the way */
.hammernav-sibling{
	@include transform( translate3d(0,0,0) );
	// z-index: 1;


	&.hammernav-close{
		@include transform( translate3d(0,0,0) );
		@include animation( recoverLeft .3s ease-in-out );
	}

	&.hammernav-right-close{
		@include transform(translate3d(0,0,0));
		@include animation(recoverRight .3s ease-in-out);
	}

	&.hammernav-top-close{
		@include transform(translate3d(0,0,0));
		@include animation(recoverTop .3s ease-in-out);
	}

	&.hammernav-bottom-close{
		@include transform(translate3d(0,0,0));
		@include animation(recoverBottom .3s ease-in-out);
	}




	&.hammernav-open{
		@include transform( translate3d($horizontal-drawer-width,0,0) );
		@include animation( uncoverLeft .3s ease-in-out );
	}

	&.hammernav-right-open{
		@include transform( translate3d(-$horizontal-drawer-width,0,0) );
		@include animation( uncoverRight .3s ease-in-out );
	}

	&.hammernav-top-open{
		@include transform(translate3d(0,$vertical-drawer-height,0));
		@include animation(uncoverTop .3s ease-in-out);
	}

	&.hammernav-bottom-open{
		@include transform(translate3d(0,-200%,0));
		@include animation(uncoverBottom .3s ease-in-out);
	}




}



