@import "compass/css3";
@import "variables";
@import "mixins";


/* VARIABLES REQUIRED */

$animation_duration:.35s;

// absolute: scrolls; fixed: doesn't scroll;
$coverbottom-drawer-position:fixed;



@include keyframes(coverbottom-drawer-open) {
	0%{@include transform( translate3d(0,110%,0) ) }
	70%{@include transform( translate3d(0,0,0) scaleY(1.1) ); padding-bottom:5%;  }
	100%{@include transform( translate3d(0,0,0) );}
}


@include keyframes(coverbottom-drawer-close) {
	0%{ @include transform(translate3d(0,0,0)) }
	20%{ @include transform(translate3d(0,0,0)); padding-bottom:5%; }
	100%{@include transform( translate3d(0,110%,0) );  }
}





.hammerdrawer-coverbottom-parent {
	overflow: hidden;
}

/*  drawer Drawer Layout  */
.hammerdrawer-coverbottom-drawer{
	bottom: 0;
	left:0;
	margin: 0;
	overflow-x:hidden;
	overflow-y:auto;
	position: $coverbottom-drawer-position;
	right:0;
	z-index:-1;

	@include transform( translate3d(100%,0,0) );


	&.hammerdrawer-coverbottom-open {
		z-index:100;
		@include transform( translate3d(0,0,0) );
		@include animation( coverbottom-drawer-open $animation_duration ease-in-out );

	}

	&.hammerdrawer-coverbottom-close {
		z-index:100;
		@include transform( translate3d(0,110%,0) );
		@include animation( coverbottom-drawer-close $animation_duration ease-in-out );
	}

}





