@import "compass/css3";
@import "variables";
@import "mixins";


/* VARIABLES REQUIRED */

// $horizontal-drawer-width
$animation_duration:.20s;





@include keyframes(uncoverright-drawer-open){
	0%{  @include transform( translate3d(-5%,0,0)scale(.98)rotateY(40deg) ); }
	100%{  @include transform( translate3d(0,0,0)scale(1)rotateY(0deg) ); }
}

@include keyframes(uncoverright-drawer-close) {
	0%{  @include transform( translate3d(0,0,0)scale(1)rotateY(0deg) ); }
	70%{  @include transform( translate3d(-5%,0,0)scale(.98)rotateY(40deg) ); }
}


@include keyframes(uncoverright-sibling-open) {
	0%{@include transform( translate3d(0,0,0)) }
	70%{@include transform( translate3d(-$horizontal-drawer-width*1.1,0,0) ) }
	100%{@include transform( translate3d(-$horizontal-drawer-width,0,0)) }
}

@include keyframes(uncoverright-sibling-close) {
	0%{@include transform( translate3d(-$horizontal-drawer-width,0,0)) }
	70%{@include transform( translate3d($horizontal-drawer-width*.1,0,0) ) }
	100%{@include transform( translate3d(0,0,0)) }
}



.hammerdrawer-uncoverright-parent {
	overflow: hidden;

	/*  No Flickering  */
	@include backface-visibility(hidden);

	* {
		@include box-sizing(border-box);
	}
}

/*  drawer Drawer Layout  */
.hammerdrawer-uncoverright-drawer{
	display:none;
	height: 100%;
	right: 0;
	margin: 0;
	// opacity: 0.3;
	overflow-x:hidden;
	overflow-y:auto;
	position: fixed;
	top: 0;
	width: $horizontal-drawer-width;
	z-index:-2;

	@include transform( translate3d(5%,0,0) scale(.98) );


	&.hammerdrawer-uncoverright-open {
		display:block;
		z-index:-1;

		@include transform( translate3d(0,0,0) scale(1) );
		@include animation( uncoverright-drawer-open $animation_duration ease-in-out );

	}

	&.hammerdrawer-uncoverright-close {
		display:block;
		z-index:-1;
		@include transform( translate3d(5%,0,0)scale(.98) );
		@include animation( uncoverright-drawer-close $animation_duration ease-in-out );
	}

}


/* Drawer Siblings to push out of the way */
.hammerdrawer-uncoverright-sibling{
	@include transform( translate3d(0,0,0) );


	&.hammerdrawer-uncoverright-open{
		@include transform( translate3d(-$horizontal-drawer-width,0,0) );
		@include animation( uncoverright-sibling-open $animation_duration ease-in-out );
	}


	&.hammerdrawer-uncoverright-close{
		@include transform( translate3d(0,0,0) );
		@include animation( uncoverright-sibling-close $animation_duration ease-in-out );
	}




}





